<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="config.properties"/>

    <settings>
        <setting name="cacheEnabled" value="false"/>
    </settings>

    <typeAliases>
        <package name="sun.mybatis.analysis.domain.blog"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="sun.mybatis.analysis.typehandlers.ExampleTypeHandler"/>
    </typeHandlers>

    <plugins>
        <plugin interceptor="sun.mybatis.analysis.plugins.ExamplePlugin">
            <property name="someThing" value="100"/>
        </plugin>
    </plugins>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>

            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>

        </environment>
    </environments>


    <mappers>
        <mapper resource="mapper/TagMapper.xml"/>
    </mappers>

</configuration>